

body{
    background-color: aliceblue;
}

/* #heading1{
background-color: azure;
}

.heading2{
    background-color: rgb(25, 161, 161);
    }

button{
    border-color: blue;
    color: black;
}

#box{
    height: 250px;
    width: 110px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(199, 245, 230);
}

.content{
    color: red;
} */


.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}